<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入力画面</title>
</head>

<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.message1}"></h2>
    <form method="post" action="/output">
        <p th:text="#{content.message}"></p>
        <div th:if="${param.previous}">
            <span th:text="#{content.input.score}"></span><span th:text="${param.previous}"></span><span th:text="#{content.input.score2}"></span>
        </div>
        <input type="text" id="inputMessage" name="inputMessage" required>
        <button type="submit" th:text="#{content.input.botton}"></button>
    </form>

</body>

</html>